.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(252, 252, 253, 0.78);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  > div {
    background: #fff;
    padding: 35px 25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: relative;

    > i {
      display: inline-block;
      position: absolute;
      right: 18px;
      top: 23px;
      cursor: pointer;
    }
  }
}