.main {
  input {
    color: rgb(138, 138, 138);
    font-size: 16px;
    height: 40px;
    line-height: 21px;
    outline: none;
    text-overflow: ellipsis;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0px 74px 0px 12px;
  }
}